@import "reset.css";
@import "library-bar.css";
@import "book-of-the-day.css";
@import "top-adventures.css";
@import "popular-authors.css";


* {
  box-sizing: border-box;
}

body {
  font-family:cursive;
  width:360px;
  margin:0 auto;
  padding-bottom: 20px;
}
