
.top-adventures {
  display: flex;
  overflow-x:scroll;
  padding-bottom: 15px;
}

.top-adventures__book {
  margin-right: 20px; 
}

.top-adventures__book img {
  width:68px;
  border-radius: 3px;
}

.top-adventures__rating {
  color: teal;
  font-size:8px;
  margin-top:10px;
  display: block;
  text-align: center;
}
