* {
  box-sizing:border-box;
  margin:0;
}
body {
  font-family:monospace;
  font-weight: bold;
}

.phone{
  width: 400px;
  height:800px;
  border: 3px solid turquoise;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.phone__top{
display: flex;
justify-content: space-between;
padding: 40px 20px 20px 20px;
font-size: 2em;
}

.phone__playing-now{
  display: flex;
  margin: 20px 0;
}
.playing-now__img{
  width: 170px;
  height: 170px;
  background-color: #FEBD11;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid black;
  border-radius: 20px;
}
.playing-now__info{
  padding: 5px 0 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.playing-now__info__title{
  font-size: 3em;
}
.playing-now__info__credit{
  font-size: 1.3em;
}

.phone__btns {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.phone__btns button{
  border: 2px solid black;
  border-radius:30px;
  box-shadow: 0 5px black;
  background-color: white;
  padding: 15px;
  font-family:monospace;
  font-size: 1.5em;
  font-weight: bold;
}
.btns__play{
  padding: 15px;
}

.phone__tracklist{
  height: 350px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tracklist__track{
  display: flex;

}
.track__img{
  height: 60px;
  width:60px;
  border: 2px solid black;
  border-radius: 15px;
  margin-right: 20px;
}
.track__info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.track__info__title{
  font-size: 1.7em;
}
.track__info__credit{
  color: gray;
}
.track__img:first-child{
  background-color: red;
}